.container {
    background-color: #000;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    height: 300px;
    margin-left: 35%;
    margin-top: 120px;
}
h1{
    margin-left: 37px;
   
}
input {
    width: 81%;
    padding: 10px;
    border-radius: 5px;
  margin: 10px;
}
 
button {
    background-color: #e04f7f;
    color: white;
    padding: 10px;
    margin-top: 3px;
    width: 130px;
    margin-left: 82px;
    cursor: pointer;
}
 
button:hover {
    background-color: #e04f7f;
}

#resultado{
    margin-top: 10px;
}